

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/mdb.min.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
    <script src="~/Content/js/jquery-3.4.1.min.js"></script>
    <script src="~/Content/js/jquery.validate.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
</head>
<body>

    @if (Session["loginfail"] != null)
    {
        <script type="text/javascript">
            alert("ยูสเซอร์เนมหรือพาสเวิร์ดไม่ถูกต้อง");
        </script>
        Session.Remove("loginfail");
    }
    <div id="app" class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarNavDropdown" class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    <li>
                        <a class="nav-link" href='@Url.Action("Index", "Home")'>Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="" class="btn btn-default btn-rounded my-3" data-toggle="modal" data-target="#modalLRForm">
                            เข้าสู่ระบบ/สมัครสมาชิก
                        </a>
                    </li>
                </ul>
            </div>

        </nav>
    </div>

    <div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog cascading-modal" role="document">
            <div class="modal-content">
                <div class="modal-c-tabs">
                    <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab">
                                <i class="fas fa-user mr-1"></i>
                                Login
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#panel8" role="tab">
                                <i class="fas fa-user-plus mr-1"></i>
                                Register
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade in show active" id="panel7" role="tabpanel">
                            @using (Html.BeginForm("Login", "Logins", FormMethod.Post))
                            {
                                @model CsManager.Models.Login

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="modal-body mb-1">
                                    <div class="md-form form-sm mb-4 form-group">
                                        <i class="fas fa-envelope prefix"></i>
                                        @Html.EditorFor(model => model.Log_ID, new { htmlAttributes = new { @class = "form-control", placeholder = "กรุณาใส่ยูสเซอร์เนม", autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.Log_ID, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="md-form form-sm mb-4 ">
                                        <i class="fas fa-lock prefix"></i>
                                        @Html.EditorFor(model => model.Log_Pass, new { htmlAttributes = new { @class = "form-control", @Type = "password", placeholder = "กรุณาใส่พาสเวิร์ด", autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.Log_Pass, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="text-center mt-2">
                                        <button class="btn btn-info">Log in <i class="fas fa-sign-in ml-1"></i></button>
                                    </div>
                                </div>
                            }
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="panel8" role="tabpanel">
                            @using (Html.BeginForm("Login", "Logins", FormMethod.Post))
                            {
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="modal-body">
                                    <div class="md-form form-sm mb-4">
                                        <i class="fas fa-envelope prefix"></i>
                                        @Html.EditorFor(model => model.id, new { htmlAttributes = new { @class = "form-control", placeholder = "กรุณาใส่ยูสเซอร์เนม", autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.id, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="md-form form-sm mb-4">
                                        <i class="fas fa-lock prefix"></i>
                                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @Type = "password", placeholder = "กรุณาใส่พาสเวิร์ด", autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="md-form form-sm mb-4">
                                        <i class="fas fa-lock prefix"></i>
                                        @Html.EditorFor(model => model.repassword, new { htmlAttributes = new { @class = "form-control", @Type = "password", placeholder = "กรุณาใส่พาสเวิร์ด", autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.repassword, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="md-form form-sm mb-4">
                                        <i class="fas fa-lock prefix"></i>
                                        @Html.EditorFor(model => model.specode, new { htmlAttributes = new { @class = "form-control", @Type = "password", placeholder = "รหัสพิเศษ(ไม่มีไม่ต้องใส่)", autocomplete = "off", } })
                                    </div>

                                    <div class="text-center form-sm mt-2">
                                        <button class="btn btn-info">Sign up <i class="fas fa-sign-in ml-1"></i></button>
                                    </div>

                                </div>
                            }
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="container body-content">
        <br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>
</html>

