@model CsManager.Models.Student

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutM.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Stu_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stu_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stu_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stu_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stu_Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stu_Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stu_Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stu_Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stu_Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stu_Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stu_AspEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stu_AspEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stu_Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stu_Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stu_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stu_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stu_OldEdu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stu_OldEdu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stu_OldSchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stu_OldSchool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stu_Img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stu_Img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher.Tea_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.Tea_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Stu_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
