@model CsManager.Models.Subject

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutM.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Subject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subj_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subj_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subj_DepID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subj_DepID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subj_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subj_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subj_Credit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subj_Credit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subj_CoursID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subj_CoursID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Subj_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
