@model CsManager.Models.Project

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutM.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pj_StuName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pj_StuName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pj_NameTH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pj_NameTH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pj_NameENG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pj_NameENG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pj_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pj_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pj_TypePj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pj_TypePj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pj_Typefile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pj_Typefile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pj_File)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pj_File)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pj_Github)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pj_Github)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pj_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pj_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pj_Linkweb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pj_Linkweb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pj_Video)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pj_Video)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher.Tea_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.Tea_Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
