@model IEnumerable<CsManager.Models.Project>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutM.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pj_StuName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pj_NameTH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pj_NameENG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pj_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pj_TypePj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pj_Typefile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pj_File)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pj_Github)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pj_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pj_Linkweb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pj_Video)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teacher.Tea_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pj_StuName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pj_NameTH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pj_NameENG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pj_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pj_TypePj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pj_Typefile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pj_File)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pj_Github)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pj_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pj_Linkweb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pj_Video)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teacher.Tea_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Pj_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Pj_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Pj_ID })
        </td>
    </tr>
}

</table>
